body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calendar {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 10px;
}

.month {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.month div {
    font-size: 1.2em;
    cursor: pointer;
}

.current-month {
    font-weight: bold;
}

.weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.weekdays div, .days div {
    text-align: center;
    padding: 10px 0;
}

.weekdays div {
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.days div {
    border-bottom: 1px solid #eee;
    min-height: 50px;
}

.days div:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}
